body {
  background: #111;
  text-align: center;
  color: white;
  font-family: Arial;
}

#game {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
  border: 3px solid white;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
}

#motor {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 120px;
}

#gas {
  font-size: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

